body {
    background-color: #ff6b6b;
    color: #f7fff7;
    font-family: 'Oswald', sans-serif;
}

.font1 {
    color: #f7fff7;
    font-family: 'Oswald', sans-serif;
}

.font2 {
    color: #f7fff7;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}
.frame {
    margin: auto;
    text-align: center;
}
.frame iframe {
  overflow:hidden; 
  border-width: 0;
}

.grid {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    

}

.gridimages {
    flex-basis: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    justify-content: space-between;
}