.font1 {
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
}

.font2 {
    color: #323232;
    font-family: 'Rubik', sans-serif;
}

.box1 {
    background-color: #313131;
}

.box2 {
    background-color: #4772d9;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    top: 0%;
    margin-top: 0px;
}

.box3 {
    background-color: #ffffff;

}

body {
   margin: 0 !important;
    padding: 0 !important;
}